__pycache__/
*.py[cod]
*$py.class

env/
.venv/
venv/
ENV/
env.bak/
venv.bak/

build/
dist/
out/
*.egg-info/
.eggs/
pip-wheel-metadata/
*.whl

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.pyre/

*.log
*.tmp

.DS_Store
Thumbs.db
.vscode/
.idea/

.ipynb_checkpoints/

.python-version
